<!doctype html>
<html>
    <body>
        <form action="/login" method="post">
            <label for="Username">Username:</label>
            <input id="Username" type="text" name="Username" />
            <label for="Password">Password:</label>
            <input id="Password" type="text" name="Password" />
            <label for="veri_pass">Verify Password:</label>
            <input id="veri_pass" type="text" name="veri_pass" />
            <label for="Email">Email(optional):</label>
            <input id="Email" type="text" name="Email" />
            <input type="submit" />
        </form>
    </body>
</html>